/* Default styles */
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
  }
  
  :root {
    --white: #ffffff;
    --nav-bg: #2a2c38;
    --primary: #a3b3ff;
    --secondary: #5f6375;
    --light: #c1c4d4;
    --top-width: 10vh;
    --success: #57d9c1;
    --success-dark: #4cc2ac;
    --bg-light: #dae2eb;
    --shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 0px 30px rgba(0, 0, 0, 0.1);
    --favorite: #ffea5e;
  }
  
  .content {
    margin-left: 70px;
    padding-top: 70px;
  }
  
  .header {
    font-weight: bold;
    font-size: 1.3em;
  }
  
  p,
  h5,
  h4,
  h2,
  span,
  small {
    font-family: Roboto, sans-serif;
  }
  
  i {
    color: var(--secondary);
  }
  
  button > i {
    color: var(--white);
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
  /* Vertical Navbar Styles */
  nav {
    position: fixed;
    display: flex;
    background-color: var(--nav-bg);
    height: 100vh;
    flex-direction: column;
    top: 0;
    width: 70px;
  }
  
  .sidenav .nav-link {
    color: white;
    margin-bottom: 2em;
    width: var(--top-width);
  }
  
  .sidenav ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .sidenav a {
    display: block;
    width: 100%;
    padding: 0.7em 1em;
    color: var(--secondary);
  }
  
  .sidenav li {
    width: 100%;
  }
  
  .sidenav .active {
    background-color: #82b2ff;
    color: var(--white);
  }
  
  .sidenav .active i,
  .nav-link i {
    color: var(--white);
  }
  
  .sidenav ul a:hover {
    background: #82b2ff;
    color: var(--white);
  }
  
  /* top section */
  .profile {
    display: flex;
    background-color: var(--white);
    width: 100%;
    border-bottom: 1px solid var(--light);
    position: fixed;
    height: 70px;
    margin-left: 70px;
  }
  
  .profile .header-brand {
    display: none;
  }
  
  .profile .header-profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
  }
  
  .nav-options {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex: 0 1 60vw;
  }
  
  .fa-angle-down {
    color: var(--secondary);
    cursor: pointer;
  }
  
  .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0%;
  }
  
  .nav-options .dropdown {
    border: none;
    background-color: transparent;
  }
  
  .narwhal,
  small {
    color: var(--secondary);
  }
  
  .activity {
    display: block;
    background-color: var(--white);
    flex: 1 1 200px;
    box-shadow: var(--shadow);
    width: 100%;
  }
  
  .nav-options i:first-child {
    position: relative;
  }
  
  .notifications {
    position: absolute;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: red;
    padding: 0.2em;
    font-size: 12px;
    color: var(--white);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    top: -5px;
    right: -5px;
  }
  
  .profilepic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .toprow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 2em;
  }
  
  .brand {
    display: flex;
    align-items: baseline;
    gap: 10%;
  }
  
  .create {
    border: none;
    padding: 0.8em 1em;
    background-color: var(--success);
    border-radius: 0.3em;
    color: white;
  }
  
  .create:hover {
    background-color: var(--success-dark);
    cursor: pointer;
  }
  
  #options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .tab {
    border: none;
    background: transparent;
    padding: 0.5em 0.8em;
    border-bottom: 3px solid var(--white);
  }
  
  .tab.active,
  .tab:hover {
    border-bottom: 3px solid var(--primary);
    cursor: pointer;
    color: var(--primary);
  }
  
  .searchbox input {
    border: none;
    padding: 0.5em 0;
    margin: 0 0.4em;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid var(--light);
  }
  
  /* display section */
  .display {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5em 0.5em;
    gap: 1%;
  }
  
  .teams {
    background-color: white;
    flex: 1 1 60vw;
    box-shadow: var(--shadow);
    margin-bottom: 1em;
  }
  
  .teams-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-bottom: 1px solid var(--light);
  }
  
  .teams-display {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7em;
  }
  
  .teams-item {
    border: 1px solid var(--light);
    border-radius: 0.2em;
  }
  
  .ti-top {
    padding: 0.7em;
  }
  
  .ti-top-left {
    margin-bottom: 10px;
  }
  
  .ti-stuff {
    display: flex;
    align-items: center;
    gap: 5%;
    flex: 1 1 auto;
  }
  
  .ti-stuff p {
    margin: 0px 0;
  }
  
  .ti-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .ti-bottom {
    display: flex;
    padding: 0.5em 0.5em;
    border-top: 1px solid var(--light);
    color: var(--secondary);
  }
  
  .ti-bottom p {
    font-size: 0.8em;
    margin-right: 10px;
  }
  
  .icon {
    height: 50px;
    width: 50px;
    border-radius: 7px;
  }
  
  .fa-solid.fa-star,
  .fa-regular.fa-star:hover {
    color: var(--favorite);
    cursor: pointer;
  }
  
  .activity-top {
    padding: 0 1em;
    border-bottom: 1px solid var(--light);
    width: 100%;
    margin-bottom: 1em;
  }
  
  .activities {
    padding: 1em;
  }
  
  .record {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
  }
  
  .info p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }
  
  .info span {
    font-weight: bold;
  }
  
  @media (min-width: 700px) {
    .teams-display {
      padding: 1em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.7em;
    }
  
    .display {
      background-color: var(--bg-light);
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2em 1.3em;
      gap: 1%;
    }
  
    .profile .header-brand {
      display: block;
      border-right: 1px solid var(--light);
      padding: 0.3em 2em;
    }
  
    .nav-options {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 5%;
      flex: 0 1 30vw;
    }
  
    #options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0em 2em;
    }
  
    .tab {
      border: none;
      background: transparent;
      padding: 0.5em 0.8em;
      border-bottom: 3px solid var(--white);
      margin: 0 0.5em;
    }
  
    .searchbox input {
      border: none;
      padding: 0.5em;
      margin: 0 0.4em;
    }
  }
  
  @media (min-width: 1000px) {
    .teams-display {
      padding: 1em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.7em;
    }
  
    .display {
      background-color: var(--bg-light);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2em 3em;
      gap: 1%;
    }
  }
  